.kuliner-title-group {
  padding: 3em 0;
}
.kuliner-add-button {
  text-align: right;
}
.list-kuliner {
  padding-top: 10px;
  padding-bottom: 10px;
}
button {
  min-width: 90px;
  border-radius: 0.75em;
}
