.filter-kuliner {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.3em;
}
.filter-title {
  background-color: cornflowerblue;
  color: white;
  padding: 0.75em;
  text-align: justify;
  border-radius: 0.3em 0.3em 0 0;
}
.filter-content {
  /*padding: 15px 15px 0 15px;*/
  /*background-color: rgb(229, 229, 229);*/
}
.filter-button {
  padding: 15px;
}
.filter-name {
  vertical-align: center;
  font-size: 16px;
}
.filter-input {
  margin: 0.5em 0;
  vertical-align: center;
}
.filter-checkbox {
  width: 16px;
  height: 16px;
  vertical-align: center;
}
